[Desktop Entry]
Name=Black Mesa
Comment=Play this game on Steam
Exec=~/shellscripts/steamswap.sh main 362890
Icon=~/Pictures/gruvfull/bm.svg
Terminal=false
Type=Application
Categories=Game;
