[Desktop Entry]
Type=Application
Name=Plex
Comment=Plex client for desktop computers
Exec=Plex
Icon=/home/bailey/Pictures/gruvfull/plex.svg
Terminal=false
Categories=AudioVideo;Player;X-Media;
X-Flatpak=tv.plex.PlexDesktop
